body {
    background-color: rgb(255, 202, 132);
    font-family: "Poppings", sans-serif;
    
}

button {
    display: inline-block;
    background-color: aliceblue;
    border: none;
    padding: 1vw;
    margin-top: 1vw;
    text-decoration: none;
    font-size: 1.4vw;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    border-radius: 2vw;
}

.question-container > button {
    display: flex;
    width: 100%;
    justify-items: center;
    gap: 1vw;
}

button:hover {
    background-color: rgb(255, 165, 46);
    transform: scale(1.05);
}

.quiz-content {
    display: flex;
    justify-content: flex;
    align-items: center;
    max-width: 1920vw;
    margin: 0 auto;
    flex-direction: column;
}

.peripherals {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    color:rgb(29, 28, 28);
    border: 0.4vh solid black;
    border-radius: 2vh;
    max-width: 25vw;
    margin: 0 auto;
    margin-bottom: 1vw;
}

.peripherals div {
    display: flex;
    margin: 1vh 2vh;
    font-size: 2vh;
}

.hint-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2vw;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

h1 {
    font-size: 5vw;
    color: #FF671F;
    display: flex;
    justify-content: center;
    align-items: center;
    }

#hint1 {
    color: #ff5e14;
}

#hint2 {
    color: #FFFFFF;
}

#hint3 {
    color: #046A38;
}

.animate-score {
    transform: scale(2);
}

.hint-container {
    background-color: rgba(152, 152, 255, 0.5);
    border-radius: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
}

@keyframes scoreAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
.animate-score {
   /* transform: scale(5); */
    /*transition: transform 0.5s ease, transform 0.2s ease; */
    animation: scoreAnimation 1s ease forwards;
    font-size: 2rem;
}
